<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="org.foxconn.dao.WebServiceDao">
 	<select id="getSSNStatus"  parameterType="string" 
 	resultType="org.foxconn.entity.ResultMessage" statementType="CALLABLE">
 		<![CDATA[
		    {call findTDMACByssn_sp
		     (#{tranType,mode=IN,jdbcType=VARCHAR})
		     }
		]]>
 	</select>
<!--  	<select id="updateSSNStatus"  parameterType="string"  -->
<!--  	resultType="org.foxconn.report.testFruTd.entity.TestFruTdResult" statementType="CALLABLE"> -->
<!--  		<![CDATA[ -->
<!-- 		    {call findTDMACByssn_sp -->
<!-- 		     (#{tranType,mode=IN,jdbcType=VARCHAR}) -->
<!-- 		     } -->
<!-- 		]]> -->
<!--  	</select> -->
 </mapper>        
 